/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* UTILITIES */
.ms_active {
    display: block;
}

/* COMMON */
.ms_main-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    
    background-color: #66cdaa;
}

.ms_carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 70%;
    height: 70%;

    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 3px 3px 4px #00000030;
}

.ms_btn {
    position: absolute;
    left: 50%;
    
    width: 2rem;
    height: 2rem;

    color: #000000;
    background-color: #ffffff;
    opacity: 0.3;

    border-radius: 50%;
    
    cursor: pointer;
}

.ms_btn:hover {
    opacity: 1;
}

.ms_btn:hover i {
    transform: translate(-50%, -50%) scale(1.5);
}

.ms_btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN */
img {
    display: none;
}

.ms_carousel-container img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-container {
    width: 100%;
    height: 100%;
}

#prev-pic {
    top: 3rem;
}

#next-pic {
    bottom: 3rem;
}
