/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* UTILITIES */
.ms_active {
    display: block;
}

/* COMMON */
.ms_main-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    
    background-color: #66cdaa;
}

.ms_carousel-container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 70%;
    height: 70%;

    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 3px 3px 4px #00000030;
}

.ms_main-pic-container {
    width: 80%;
    height: 100%
}

.ms_thumbs-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
    height: 100%;
}

.ms_thumb {
    width: 100%;
    height: calc(100% / 5);
    filter: brightness(0.5);
}

.ms_thumb.ms_active {
    filter: brightness(1);
    border: 2px solid #ffffff;
}

.ms_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ms_btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
    width: 2rem;
    height: 2rem;

    color: #000000;
    background-color: #bbbbbb;
    opacity: 0.3;

    border-radius: 50%;
    
    cursor: pointer;
}

.ms_btn:hover {
    opacity: 1;
}

.ms_btn:hover i {
    transform: translate(-50%, -50%) scale(1.5);
}

.ms_btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN */
img {
    display: none;
}

.ms_main-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-container {
    width: 100%;
    height: 100%;
}

#prev-pic {
    top: 1rem;
}

#next-pic {
    bottom: 1rem;
}

